
   * {
  margin:0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background: white;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
#logo{
  margin-left:20px;
  padding:.3rem;
}
nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav.slide-up {
        transform: translateY(-100%);
      }

nav.slide-down .nav-list {
    display: grid;
}
input:checked ~ nav .nav-list {
    transform: translateY(0);
}

nav .navbar-brand {
    color: gray;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
}

nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 15px;
    transition: .4s;
}

 
  .hero {
            background-image: url("images/0.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            margin:0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }


.hero h1{
  font-size:5rem;
   margin: 0;
    color: white;
}

     .hero h3 {
            margin: 0;
            color: white;
            font-size:2rem;
            font-family: 'PT Serif', serif;
        }

        .hero h3 {
            margin-top: 20px;
            line-height: 1.5;
        }
#schedule1 {
  width: 100%;
  background-color: rgb(211, 211, 211);
  
  justify-content: center;
  border: solid;

  height:200px;
  padding-bottom: 3rem;
}

#schedule1title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:1rem;
}

#schedule1 h3 {
  padding: 1rem;
  font-size: 2rem;
}

#schedule1 span {
  color: #199DE7;
  padding: 1rem;
  font-size: 2rem;
}

#schedule1 p {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  line-height:30px;
}


#wwcdfy {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    margin:auto;
    padding-bottom: 3rem;

}

#contentone {
  margin-left: 3rem;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  line-height: 30px;
  max-width: 600px;
}
#contentone h1 {
padding-bottom:1rem;
}

#contentone ul{
padding-top:1rem;
padding-bottom: 1rem;
line-height:40px;
margin-left:3rem;
}

#contentone ul li {
list-style-type:square;
font-size: 14px;
 }
.background{
     background-color:#e8e8e8;
     padding-top: 4rem;
}
#title1{
    text-align:center;
    padding-top: 1rem;
    background-color: #199DE7;
    padding-bottom:1rem;
    width: 30%;
    margin:auto;
    color:white;
}

.background p{
    padding-top: 1rem;
    line-height:30px;
    text-align:center;
}

nav .nav-list .nav-item:hover {
    background: rgba(25,157,231);
    
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#logo-container {
  flex: 1;
  text-align: center;
}

#logo-container img {
  max-width: 100%;
}


#social-media-icons {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#FTcontact{
    text-align:center;
    padding:1rem;
    background-color: rgba(25,157,231, 0.2);
    width:5rem;
    margin:auto;
    border:solid;
    border-width:2px;
    border-color: rgba(25,157,231);
    color:rgba(25,157,231);
    flex:1;
}
/*------------------------------------------------------------------------------*/

.container {
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27rem; /* 10% less height */
  position: relative;
  overflow: hidden;
}

.option p {
  background-color: #199de7;
  text-align: center;
  padding: 0.9rem; /* 10% less padding */
  width: 9%; /* 10% less width */
  margin: auto;
  color: white;
  z-index: 2;
}

.info {
  margin: 1.44rem; /* 10% less margin */
}

.info p {
  text-align: left;
  max-width: 216px; /* 10% less max-width */
  margin-top: 0.72rem; /* 10% less margin-top */
}

.backButton {
  position: absolute;
  top: 5;
  left: 5;
  background-color: #e8e8e8;
  width: 5.04rem; /* 10% less width */
  margin: 0.72rem;
}

.button {
  color: black;
  padding: 7.2px 5.04rem; /* 10% less padding */
  margin: 0 7.2px; /* 10% less margin */
  cursor: pointer;
  text-align: center;
}

.expanded-content {
  display: none;
  background-color: #e8e8e8;
  padding: 14.4px; /* 10% less padding */
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: auto;
}

.expanded-content.active {
  display: flex;
  flex-direction: column;
  animation: expandContent 0.3s ease-in-out forwards;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.innerContent {
  display: flex;
  align-items: center;
}

.carousel-item {
  display: none;
  position: relative;
  color: black;
  transform: scale(0.8); /* 20% smaller scale */
}

.carousel-item.active {
  display: block;
  transform: scale(1);
}
.carousel-item img {
  margin: 5.12px; /* 20% smaller margin */
  border-radius: 5.12%; /* 20% smaller border radius */
  max-width: 90%; /* 20% smaller maximum width */
  max-height: 40%; /* 20% smaller maximum height */
}

.carousel-buttons {
  margin-top: 14.4px; /* 10% less margin-top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-buttons button {
  background-color: #e8e8e8;
  color: black;
  border: none;
  padding: 7.2px 14.4px; /* 10% less padding */
  margin: 0 3.6px; /* 10% less margin */
  cursor: pointer;
}

.carousel-progress {
  width: 36%; /* 10% less width */
  height: 3.6px; /* 10% less height */
  margin-top: 7.2px; /* 10% less margin-top */
  background-color: gray;
  border-radius: 7.2%; /* 10% less border-radius */
}

.carousel-progress-bar {
  height: 100%;
  width: 0;
  background-color: #199de7;
  border-radius: 7.2%; /* 10% less border-radius */
}

/*------------------------------------------------------------------------------*/
nav .nav-list .nav-link {
    color: gray;
    font-size: 18px;
    font-weight: 500;
}
nav .nav-list .nav-link:hover {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width: 955px) {

    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item {
        padding: 0 20px;
    }

}

@media (max-width: 955px) {

   nav .nav-list {
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateY(-100%);
    transition: .6s;
    z-index: 1;
}



    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }

}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: gray;
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}

.MRcontent1{
  display:flex;
  padding:3rem;
  width:85%;
  margin:auto;
  padding-top:6rem;
  max-width:85rem;
}

.MRpara1{
padding-right:2rem;
}

.MRpara1 h1{
  color:white;
  padding-top:1rem;
padding-bottom:1rem;
background-color:rgba(25,157,231);
width:100%;
margin:auto;
text-align:center;
}

.MRpara1 p{
line-height:35px;
padding-bottom:1rem;
}

.MRpara1 ul{
line-height: 35px;
}

.MRpara1 ul li{
list-style-type:dot;
}

.MRimage1{
  padding:1rem;
}
#MRimage{
border-radius:10%;
}
#abherowrapper {
    background-image: url("images/abouthero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 470px;
    text-align: center;
}

#bigtitle {
    background-color: white;
    margin-top: auto;
}

#bigtitle h1 {
    padding: 2rem;
    line-height: 70px;
}

/*-------------------------------------------*/

#abpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#abpage p {
  margin: 0;
}

#aboutpara {
  max-width: 800px;
  margin: auto;
  line-height: 30px;
  padding:10px;
  margin-bottom: 3rem;
}

#abcontent1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  margin: auto;
  gap: 1rem;
  max-width: 1000px;
  /*min-width: 815px;*/
}

#ab2 {
  flex: 1;
  padding: 0;
  margin: 1rem;
  line-height: 30px;
}

#abimage {
  padding: 0;
  position: relative;
  flex: 0 0 300px;
}

#abimage::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -30px;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 157, 231);
  opacity: 0.5;
  transform: translateX(-20px);
  z-index: -1;
}

#abtitle {
  padding: 1rem;
}

#abpara1 {
  max-width: 100%;
  line-height: 30px;
  margin: 0;
}

#FTabout {
    text-align:center;
    padding:1rem;
    background-color: rgba(25,157,231, 0.2);
    width:10rem;
    margin:auto;
    border:solid;
    border-width:2px;
    border-color: rgba(25,157,231);
    color:rgba(25,157,231);
    
}

@media (max-width: 768px) {
    #abcontent1 {
        flex-direction: column;
        align-items: center;
    }
}


.fullcontent1{
  display:flex;
  padding:3rem;
  width:85%;
  margin:auto;
  padding-top:6rem;
  max-width:85rem;
}

.fullpara1{
padding-left:2rem;
}

.fullpara1 h1{
  color:white;
  padding-top:1rem;
padding-bottom:1rem;
background-color:rgba(25,157,231);
width:100%;
margin:auto;
text-align:center;
}

.fullpara1 p{
line-height:35px;
padding-bottom:1rem;
padding-right:1rem;
}

.fullpara1 ul{
line-height: 35px;
}

.fullpara1 ul li{
list-style-type:circle;
}

.fullimage1{
  padding:1rem;
}
#fullimage{
border-radius:10%;
}
#galbody{
   background-color: rgba(25,157,231, 0.2);
}
#galtitle{
  
  padding-top:6rem;
  padding-bottom:3rem;
  text-align:center;
}
.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-container img {
  width: 300px; 
  height: auto; 
  margin: 10px; 
}
#reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviewbox {
  border: solid;
  width: 800px;
  margin: 10px;
  background-color:white;
}
.reviewbox p {
padding:.5rem;
text-align:center;
line-height:25px;
}

.reviewtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewtop h3 {
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:7rem;
  padding-right:7rem;
  border:solid;
  border-color:white black white white;
  border-width:2px;
}
.reviewtop span {
  padding:1rem;
  padding-right:8rem;
  color:rgba(25,157,231);
}
.divider {
  border: none;
  border-top: 1px solid black;
  
}

#galwrapper{
  color:white;
  padding-top:6rem;
padding-bottom:1rem;
background-color:white;
width:50%;
margin:auto;
text-align:center;
background-color: rgba(25,157,231, 0.0);
}

#galtitle{
  color:white;
  padding-top:2rem;
padding-bottom:2rem;
background-color:rgba(25,157,231);
width:50%;
margin:auto;
text-align:center;
}
